* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
}

.grid {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  position: relative;
}

.row {
  display: flex;
}

.field {
  border-width: 1px;
  border-style: dashed;
  border-color: black;
  /* height: 25px;
    width: 25px; */
}
